#logo {
  width: 100px;
  height: 30px;
  display: inline-block;
  background-image: url(../images/servoir.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#hero-logo {
  width: 100%;
  min-height: 200px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.servoir {
  font-family: "Varela Round", Arial, sans-serif;
  color: #F05A28;
}

.formFooter {
  display: none;
}